<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Eav\Model\Adminhtml\System\Config\Source\Inputtype">
        <arguments>
            <argument name="optionsArray" xsi:type="array">
                <item name="450" xsi:type="array">
                    <item name="value" xsi:type="string">datetime</item>
                    <item name="label" xsi:type="string" translate="true">Date and Time</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Ui\DataProvider\Mapper\FormElement">
        <arguments>
            <argument name="mappings" xsi:type="array">
                <item name="datetime" xsi:type="string">date</item>
            </argument>
        </arguments>
    </type>
</config>
